<div class="container">
    <div class="content">
        <div class="sections">
            <div class="section">
                <div class="sec sec1 schedule">
                    <div routerLink="schedule" class="pickup">
                        <img src="../../../assets/icons8-schedule-64.png" alt="">
                        <label>Schedule Pickup</label>
                    </div>
                </div>
                <div routerLink="price" class="sec sec2 price">
                    <div class="list">
                        <img height="60" width="60" src="../../../assets/icons8-report-card-48.png" alt="">
                        <label>Price List</label>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="working">
                    <img height="85" width="85" src="../../../assets/process.png" alt="">
                    <label>How it Will Work?</label>
                </div>
            </div>
            <!-- <div class="sec address"></div> -->
        </div>
    </div>
</div>