<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <div class="container">
                <div class="content">
                    <div class="sections">
                        <div class="section">
                            <div class="sec sec1 price">
                                <div routerLink="/components/schedule" class="list">
                                    <img height="60" width="60" src="../../../assets/icons8-schedule-64.png" alt="">
                                    <label>Schedule Pickup</label>
                                </div>
                            </div>
                            <div routerLink="/components/price" class="sec sec2 price">
                                <div class="list">
                                    <img height="60" width="60" src="../../../assets/icons8-report-card-48.png" alt="">
                                    <label>Price List</label>
                                </div>
                            </div>
                            <div routerLink="/components/orders" class="sec sec3 price">
                                <div class="list">
                                    <img height="60" width="60" src="../../../assets/icons8-order-64.png" alt="">
                                    <label>Orders</label>
                                </div>
                            </div>
                            <div routerLink="/components/price" class="sec sec4 price">
                                <div class="list">
                                    <img height="60" width="60" src="../../../assets/icons8-person-100.png" alt="">
                                    <label>Profile</label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="section">
                            <div class="working">
                                <img height="85" width="85" src="../../../assets/process.png" alt="">
                                <label>How it Will Work?</label>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>