<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Schedule</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <!-- Schedule Content Goes Here -->
            <div class="container">
                <div class="group">
                    <!-- <div class="section sec1">
                        <i (click)="goback()" class="fa fa-long-arrow-left"></i>
                    </div> -->
                    <div class="section sec2">
                        <div class="contents">
                            <div class="content c1">
                                <div class="change-address" style="font-size: 22px;">
                                    <div routerLink="/components/address" class="label">
                                        <span style="flex-grow: 11;">Change Pickup Address</span>

                                        <mat-icon style="flex-grow: 1;">arrow_forward</mat-icon>
                                    </div>
                                    <div *ngIf="address != ''" class="default-address">
                                        <span>{{address}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content c3">
                                <div class="slot">
                                    <div class="date">
                                        <div class="icon">
                                            <input class="input" (ngModelChange)="onDateSelected()"
                                                [(ngModel)]="selectedDate" type="date" [min]="minDate">
                                        </div>
                                        <div class="text">
                                            <span>Select Pickup Time</span>
                                        </div>
                                    </div>

                                    <div class="time" *ngIf="isTimeSelected">
                                        <ul>
                                            <div (click)="setTime('10am - 12pm')">
                                                10am - 12pm
                                            </div>
                                            <div (click)="setTime('12pm - 2pm')">
                                                12pm - 2pm
                                            </div>
                                            <div (click)="setTime('2pm - 4pm')">
                                                2pm - 4pm
                                            </div>
                                            <div (click)="setTime('4pm - 6pm')">
                                                4pm - 6pm
                                            </div>
                                        </ul>
                                    </div>

                                    <div class="result" *ngIf="selectedDate != '' && selectedTime != ''">
                                        <p>Selected Date: {{selectedDate}}</p>
                                        <p>Selected Time: {{selectedTime}}</p>
                                    </div>

                                </div>
                                <div class="slot2">
                                    <div class="button">
                                        <button (click)="reset()" class="btn red">Reset</button>
                                        <button (click)="schedulePickup()" class="btn green">Book Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>