.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 100%;
}

.group {
    /* border: 1px solid black; */
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    height: 90%;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.sec1 {
    width: 50px;
}

.fa-long-arrow-left {
    cursor: pointer;
    height: 40px;
    width: 100%;
}

.contents {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.content {
    /* border: 1px solid black; */
    /* height: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c1 {
    cursor: pointer;
}

.c1,
.c2 {
    height: 10%;
}

.c3 {
    height: 80%;
}

.fa-long-arrow-right {
    font-size: 30px;
}

.change-address,
.default-address {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 90%;
    width: 100%;
}

.slot {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 90%;
    width: 100%;
}

.change-address,
.default-address {
    border-radius: 10px;
    background-color: rgb(22, 202, 202);
    color: #fff;
}

.date {
    /* border: 1px solid black; */
    width: 66%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.icon {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: auto;
    height: 90%;
}

.text {
    font-size: 22px;
    display: flex;
    align-items: start;
    justify-content: center;
    /* border: 1px solid black; */
    width: auto;
    height: 90%;
    flex-direction: column;
}

.btn {
    font-size: 32px;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    background-color: #56D740;
    color: #fff;
    border-style: none;
}

.btn:hover {
    cursor: pointer;
}

.time-popup {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
}

.selected-date-time {
    margin-top: 20px;
}


input[type=date] {
    border-style: none;
    width: 65px;
    outline: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background: url(../../../assets/icons8-schedule-64.png);
    height: 65px;
    width: 200px;
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;

}