/* .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: rgb(22, 202, 202);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.logo {
    max-width: 350px;
    font-size: x-large;
}

.links {
}

ul {
    padding: 0px;
}

ul>li {
    padding: 18px 0px;
    font-size: x-large;
    text-decoration: none;
    list-style: none;
    width: 350px;
}

ul>li:hover {
    background-color: rgb(19, 168, 168);
    cursor: pointer;
}

.logout {
}

.content {
    flex-grow: 1;
    background-color: rgb(22, 202, 202);
}

.image-slider {
    height: 70px;
    background-color: rgb(22, 202, 202);
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
}

.username {
    height: 73px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.router-outlet {
    height: 642px;
    background-color: white;
}
 */
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 260px;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer {
    background: #0f172a;
}