<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Price List</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <div class="container">
                <div class="content" [ngSwitch]="wasteType">
                    <div class="horizontal">
                        <div (click)="goBack()" class="btn">
                            <span>
                                <mat-icon (click)="goBack()">arrow_back</mat-icon>
                            </span>
                        </div>
                        <div (click)="changeSection('paper')" [ngClass]="wasteType == 'paper' ? 'colorsec' :'section'">
                            <span class="text">
                                Paper
                            </span>
                        </div>
                        <div (click)="changeSection('plastic')"
                            [ngClass]="wasteType == 'plastic' ? 'colorsec' :'section'">
                            <span>
                                Plastic
                            </span>
                        </div>
                        <div (click)="changeSection('e_waste')" class="section"
                            [ngClass]="wasteType == 'ewaste' ? 'colorsec' :'section'">
                            <span>
                                E-Waste
                            </span>
                        </div>
                        <div (click)="changeSection('steel')" class="section"
                            [ngClass]="wasteType == 'steel' ? 'colorsec' :'section'">
                            <span>
                                Steel
                            </span>
                        </div>
                        <div (click)="changeSection('clothes')" class="section"
                            [ngClass]="wasteType == 'clothes' ? 'colorsec' :'section'">
                            <span>
                                Clothes
                            </span>
                        </div>
                    </div>

                    <div *ngSwitchCase="'paper'" class="paperprices">
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/paper/newspapers.webp" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>News Paper</span><br>
                                <span>Rs 15/- Per Kg</span>
                            </div>

                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/paper/whitepaper.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>White Paper</span><br>
                                <span>Rs 6/- Per Kg</span>
                            </div>

                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/paper/mix paper.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Mix Paper</span><br>
                                <span>Rs 3/- Per Kg</span>
                            </div>

                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/paper/carton.webp" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Catron</span><br>
                                <span>Rs 6/- Per Kg</span>
                            </div>

                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/paper/books.webp" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Books</span><br>
                                <span>Rs 7/- Per Kg</span>
                            </div>

                        </div>
                    </div>

                    <!-- ==================================Paper Section Over==========================================================================         -->

                    <div *ngSwitchCase="'plastic'" class="plasticprices">
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/plastic/mix.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Mix Plastic</span><br>
                                <span>Rs 8/- Per Kg</span>
                            </div>
                        </div>
                    </div>

                    <!-- ==================================Plastic Section Over==========================================================================         -->

                    <div *ngSwitchCase="'e_waste'" class="plasticprices">
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/e_waste/charger.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Charger</span><br>
                                <span>Rs 20/- Per Kg</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/e_waste/cooler.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Cooler</span><br>
                                <span>Rs 15/- Per Kg</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/e_waste/led.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Led TV</span><br>
                                <span>Rs 12/- Per Kg</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/e_waste/phones.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Mobile Phones</span><br>
                                <span>Rs 30/- Per Kg</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/e_waste/wires.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Wires</span><br>
                                <span>Rs 12/- Per Kg</span>
                            </div>
                        </div>
                    </div>

                    <!-- ==================================E_Waste Section Over==========================================================================         -->

                    <div *ngSwitchCase="'steel'" class="plasticprices">
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/steel/copper.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Copper</span><br>
                                <span>Rs 300/- Per Kg</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/steel/oil_can.webp" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Edible oil Metal Can</span><br>
                                <span>Rs 10/- Per Kg</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/steel/soda_cans.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Soda Cans</span><br>
                                <span>Rs 40/- Per Kg</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/steel/steel.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Steel</span><br>
                                <span>Rs 30/- Per Kg</span>
                            </div>
                        </div>
                    </div>

                    <!-- ==================================Steel Section Over==========================================================================         -->

                    <div *ngSwitchCase="'clothes'" class="plasticprices">
                        <div class="box">
                            <div class="img">
                                <img height="120" width="200" src="../../../assets/clothes/clothes.jpeg" alt="">
                            </div>
                            <div class="name" style="text-align: center;">
                                <span>Clothes</span><br>
                                <span>Rs 10/- Per Kg</span>
                            </div>
                        </div>
                    </div>

                    <!-- ==================================Clothes Section Over==========================================================================         -->

                </div>
            </div>
        </div>
    </div>
</div>