<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Profile</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <div class="container">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="../../../assets/icons8-person-100.png" alt="Admin"
                                            class="rounded-circle" width="150">
                                        <div class="mt-3">
                                            <h4>{{name}}</h4>
                                            <!-- <p class="text-secondary mb-1">Full Stack Developer</p> -->
                                            <p class="text-muted font-size-sm">{{email}}</p>
                                            <!-- <button class="btn btn-primary">Follow</button>
                                            <button class="btn btn-outline-primary">Message</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>